.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  text-align: center;
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.center{
  text-align: center;
}
